@using GORDON_STORE_BETA.Areas.Seguranca.Models
@using GORDON_STORE_BETA.Modelo.Sistema
@model	PapelEditModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alteração	de	usuários	em	um	PAPEL";
}
@Html.ValidationSummary()
@using (Html.BeginForm())
{
  
    <input type="hidden" name="nomePapel" value="@Model.Papel.Name" />
    <div class="tabelainteira">
        <div class="headertabela">
            Adicionar para @Model.Papel.Name
        </div>
        <table class="table	">
            @if (Model.NaoMembros.Count() == 0)
            {
                <tr>
                    <td colspan="2">
                        Todos	os	usuários	são	membros
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>Usuários</td>
                    <td>
                        Adicionar	ao	Papel
                    </td>
                </tr>
                foreach (UsuarioAdm usuario in Model.NaoMembros)
                {
                    <tr>
                        <td>@usuario.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsParaAdicionar" value="@usuario.Id">
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
        <br />
        <div class="tabelainteira">
            <div class="headertabela">
                Remover	de	@Model.Papel.Name
            </div>
            <table class="table">
                @if (Model.Membros.Count() == 0)
                {
                    <tr><td colspan="2">Sem	usuários	membros</td></tr>
                }
                else
                {
                    <tr>
                        <td>Usuários</td>
                        <td>Remover	do	Papel</td>
                    </tr>
                    foreach (UsuarioAdm usuario in Model.Membros)
                    {
                        <tr>
                            <td>@usuario.UserName</td>
                            <td>
                                <input type="checkbox"
                                       name="IdsParaRemover" value="@usuario.Id">
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
       
        <div class="btns">
            <input type="submit" value="Gravar alterações" class="btn btn-retornar" />
            @Html.ActionLink("Cancelar", "Index", null, new
            {
                @class = "btn btn-default"
            })
        </div>
            }
