@model GORDON_STORE_ALPHA.Models.ViewModels.HomeClass

@using GridMvc.Html

@{
    ViewBag.Title = "Produtos";
}
<br />
<div class="text-center">
    <h2>Search Results</h2>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />

<script>
    $(function () {

        /*
        * Fancybox
        */

        $(".fancybox").fancybox();


        $("a.addtocart").click(function (e) {
            e.preventDefault();

            $("span.loader").addClass("ib");

            var url = "/cart/AddToCartPartial";

            $.get(url, { id: Model.ProdutoId }, function (data) {
                $(".ajaxcart").html(data);
            }).done(function () {
                $("span.loader").removeClass("ib");
                $("span.ajaxmsg").addClass("ib");
                setTimeout(function () {
                    $("span.ajaxmsg").fadeOut("fast");
                    $("span.ajaxmsg").removeClass("ib");
                }, 1000);
            });
        });

        ////////////////////////////////////////////////////////

    });
</script>

<style>
    ul.pagination:last-child {
        display: flex;
        justify-content: center;
    }

    .myClass1 {
        text-align: center;
        width: 8.33%;
    }

    .myClass2 {
        text-align: center;
        width: 25%;
    }

    .myClass3 {
        text-align: center;
        width: 16.66%;
    }

    .myClass4 {
        text-align: center;
        width: 40%;
    }

    .myClass5 {
        text-align: center;
        width: 10%
    }
</style>

<h2>@ViewBag.CategoryName</h2>


@foreach (var item in Model.listaprodutos)
{
    <div class="col-md-4">
        <div class="product-item">
            <a href="#"><img src="@Url.Action("GetLogotipo", "Produtos", new { id = item.ProdutoId })" style="display: block; margin-left: auto; margin-right: auto; height: 200px" /></a>
            <div class="down-content">
                <a href="#"><h4>@Html.DisplayFor(modelItem => item.Nome)</h4></a>
                <h6>@Html.DisplayFor(modelItem => item.ProdutoId)</h6>
                <p>Fabricante: @Html.DisplayFor(modelItem => item.Estudio.Nome)</p>
                <span>@Html.DisplayFor(modelItem => item.Categoria.Nome)</span>
            </div>
            <a class="primary-btn addtocart"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
            }).WithPaging(3)
        </div>
    </div>
}


<br />
<hr />
<br />


