<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title- Online Furniture System</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/Template/css/bootstrap.min.css" />
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/Template/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/Template/css/slick-theme.css" />
    <!-- nouislider -->

    <link type="text/css" rel="stylesheet" href="/Template/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/Template/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/Template/css/style.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <!-- HEADER -->
    <header>
        <!-- top Header -->
        <div id="top-header">
            <div class="container">
                <div class="pull-left">
                    <span>Welcome to LAVAL-Furniture-Shop</span>
                </div>
                <div class="pull-right">
                    <ul class="header-top-links">
                        @if (Request.IsAuthenticated && User.IsInRole("User"))

                        {
                            <li>
                                @Html.Action("UserNavPartial", "Account", new { area = "" })
                            </li>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>
                                @Html.ActionLink("Admin Area", "Index", "Dashboard", new { area = "Admin" }, null)
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
        <!-- /top Header -->
        <!-- header -->
        <div id="header">
            <div class="container">
                <div class="pull-left">
                    <!-- Logo -->
                    <div class="header-logo">
                        <a class="logo" href="/Pages/Index">
                            <img src="/Template/img/logo.jpg" alt="">
                        </a>
                    </div>
                    <!-- /Logo -->
                    <!-- Search -->
                    <div class="header-search">
                        @using (Html.BeginForm("Search-Results", "Shop", FormMethod.Get))
                        {
                            <input class="input search-input" style="padding:20px !important" type="text" placeholder="Search for a product" name="searchWord">
                            <button class="search-btn" type="submit"><i class="fa fa-search fa-2x"></i></button>
                        }
                    </div>
                    <!-- /Search -->
                </div>

                <div class="pull-right">
                    <ul class="header-btns">
                        <!-- Account -->
                        <li class="header-account dropdown default-dropdown">
                            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-user-o"></i>
                                </div>
                                <strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
                            </div>
                            @if (Request.IsAuthenticated)
                            {
                                <a class="text-uppercase" href="/account/logout">Logout</a>
                            }
                            else
                            {
                                if (ViewBag.Title == "Login")
                                {
                                    <a class=" active text-uppercase" href="/account/login">Login</a>
                                }
                                else
                                {
                                    <a class="text-uppercase" href="/account/login">Login</a>
                                }
                            }
                            <ul class="custom-menu">
                                <li><a href="/account/user-profile"><i class="fa fa-user-o"></i> My Account</a></li>
                                <li><a href="/account/login"><i class="fa fa-unlock-alt"></i> Login</a></li>
                                <li><a href="/Account/Create-Account"><i class="fa fa-user-plus"></i> Create An Account</a></li>
                                <li><a href="/account/orders"><i class="fa fa-shopping-basket"></i>  Orders</a></li>
                                <li><a href="/Cart"><i class="fa fa-check"></i>Checkout</a></li>
                            </ul>
                        </li>
                        <!-- /Account -->
                        <!-- Cart -->

                        @if (ViewBag.Title != "Cart Details")
                        {
                            @Html.Action("CartPartial", "Cart")
                        }

                        <!-- /Cart -->
                        <!-- Mobile nav toggle-->
                        <li class="nav-toggle">

                            <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                        </li>
                        <!-- / Mobile nav toggle -->
                    </ul>
                </div>
            </div>
            <!-- header -->
        </div>
        <!-- container -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <div id="navigation">
        <!-- container -->
        <div class="container">
            <div id="responsive-nav">
                <!-- category nav -->
                <div class="category-nav">
                    @if (ViewBag.Title == "Home")
                    {
                        <span class="category-header">Categories <i class="fa fa-list"></i></span>
                    }
                    else
                    {
                        <span class="category-header" style="width:225px !important">
                            <a href="/Pages/Index" style="color:white !important">Home Page</a> <i class="fa fa-home fa-3x "></i>
                        </span>
                    }
                    <ul class="category-list">
                        @if (ViewBag.Title == "Home")
                        {
                            @Html.Action("CategoryMenuPartial", "Shop")
                        }
                    </ul>
                </div>
                <!-- /category nav -->
                <!-- menu nav -->
                <div class="menu-nav">
                    <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                    <ul class="menu-list">
                        @Html.Action("PagesMenuPartial", "Pages")
                        @if (ViewBag.Title != "Home")
                        {
                            <li class="dropdown mega-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Categories<i class="fa fa-caret-down"></i></a>
                                <div class="custom-menu">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="list-links">
                                                @Html.Action("CategoryMenuPartial", "Shop")
                                            </ul>
                                        </div>
                                        <div class="col-md-8 hidden-sm hidden-xs ">
                                            <a class="banner banner-1" href="#">
                                                <img src="/Template/img/All-Office-Furniture.jpg" alt="">
                                                @*<div class="banner-caption text-center">
                                                        <h2 class="white-color">NEW COLLECTION</h2>
                                                        <h3 class="white-color font-weak">HOT DEAL</h3>
                                                    </div>*@
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("User") && ViewBag.Title == "Orders")
                        {
                            <li><a href="/account/user-profile">My profile</a></li>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("User") && ViewBag.Title != "Orders")
                        {
                            <li><a href="/account/orders">My Orders</a></li>
                        }
                        @if (ViewBag.Title != "Home")
                        {
                            <li class="pull-right" style="display:block;padding:15px;text-transform:uppercase;color:white">
                                Your Order is always here
                            </li>
                        }
                    </ul>

                </div>
                <!-- menu nav -->
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /NAVIGATION -->

    @if (ViewBag.Title == "Home")
    {
        @Html.Action("HomePagePartial")
    }

    <div class="container body-content">
        <div class="row">
            @if (ViewBag.Sidebar == "Yes")
            {
                <div class="col-sm-12 col-md-5 col-lg-11  mb-5 mt-5 ">
                    @RenderBody()
                </div>
                <div class="col-sm-12 col-md-5">
                    @Html.Action("SideBarPartial", "Pages")
                </div>
            }
            else
            {
                if (ViewBag.Title == "Contact Us")
                {
                    <style>
                        /*Contact sectiom*/
                        .content-header {
                            font-family: 'Oleo Script', cursive;
                            color: #fcc500;
                            font-size: 45px;
                        }

                        .section-content {
                            text-align: center;
                        }

                        #contact {
                            font-family: 'Teko', sans-serif;
                            padding-top: 60px;
                            width: 100%;
                            height: 550px;
                            background: #3a6186; /* fallback for old browsers */
                            background: -webkit-linear-gradient(to left, #3a6186, #89253e); /* Chrome 10-25, Safari 5.1-6 */
                            background: linear-gradient(to left, #3a6186, #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                            color: #fff;
                        }

                        .contact-section {
                            padding-top: 40px;
                        }

                            .contact-section .col-md-6 {
                                width: 50%;
                            }

                        .form-line {
                            border-right: 1px solid #B29999;
                        }

                        .form-group {
                            margin-top: 10px;
                        }

                        label {
                            font-size: 1.3em;
                            line-height: 1em;
                            font-weight: normal;
                        }

                        .form-control {
                            font-size: 1.3em;
                            color: #080808;
                        }

                        textarea.form-control {
                            height: 135px;
                            /* margin-top: px;*/
                        }

                        .submit {
                            font-size: 1.1em;
                            float: right;
                            width: 150px;
                            background-color: transparent;
                            color: #fff;
                        }
                    </style>
                    <br /><br />
                    <section id="contact">
                        <div class="section-content">
                            <h1 class="section-header">Get in <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span></h1>
                            <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
                        </div>
                        <div class="contact-section">
                            <div class="container">
                                <form>
                                    <div class="col-md-6 form-line">
                                        <div class="form-group">
                                            <label for="exampleInputUsername">Your name</label>
                                            <input type="text" class="form-control" id="" placeholder=" Enter Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail">Email Address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
                                        </div>
                                        <div class="form-group">
                                            <label for="telephone">Mobile No.</label>
                                            <input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="description"> Message</label>
                                            <textarea class="form-control" id="description" placeholder="Enter Your Message"></textarea>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                    <br />
                }
                <div class=" mb-5 mt-5 offset-1 ">
                    @RenderBody()
                </div>


            }
        </div>
    </div>
    <!-- FOOTER -->
    <footer id="footer" class="section section-grey">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <!-- footer logo -->
                        <div class="footer-logo">
                            <a class="logo" href="#">
                                <img src="./img/logo.png" alt="">
                            </a>
                        </div>
                        <!-- /footer logo -->

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>

                        <!-- footer social -->
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                        <!-- /footer social -->
                    </div>
                </div>
                <!-- /footer widget -->
                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">Pages</h3>
                        <ul class="list-links">
                            <li><a href="/support">Support</a></li>
                            <li><a href="/services">Services</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /footer widget -->

                <div class="clearfix visible-sm visible-xs"></div>

                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">Account</h3>
                        <ul class="list-links">
                            <li><a href="/account/user-profile"><i class="fa fa-user-o"></i> My Account</a></li>
                            <li><a href="/account/login"><i class="fa fa-unlock-alt"></i> Login</a></li>
                            <li><a href="/Account/Create-Account"><i class="fa fa-user-plus"></i> Create An Account</a></li>
                            <li><a href="/account/orders"><i class="fa fa-shopping-basket"></i> Orders</a></li>
                            <li><a href="/Cart"><i class="fa fa-check"></i>Checkout</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /footer widget -->
                <!-- footer subscribe -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">Stay Connected</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <form>
                            <a class=" text-success h3 " href="/Account/Create-Account">Sign UP For Free</a>
                        </form>
                    </div>
                </div>
                <!-- /footer subscribe -->
            </div>
            <!-- /row -->
            <hr>
            <!-- row -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <p>&copy; @DateTime.Now.Year - ITI.Smart Village</p>
                    </div>
                    <!-- /footer copyright -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </footer>
    <!-- jQuery Plugins -->
    <script src="/Template/js/jquery.min.js"></script>
    <script src="/Template/js/bootstrap.min.js"></script>
    <script src="/Template/js/slick.min.js"></script>
    <script src="/Template/js/nouislider.min.js"></script>
    <script src="/Template/js/jquery.zoom.min.js"></script>
    <script src="/Template/js/main.js"></script>
    @*@Scripts.Render("~/bundles/scripts")*@
    @Scripts.Render("~/bundles/validation")
    @RenderSection("scripts", required: false)
</body>
</html>
