@model IEnumerable<MVC.Project.OnlineFurnitureSystem.Areas.Admin.Models.ViewModels.OrdersForAdminVM>

@{
    ViewBag.Title = "Orders";
}
<br />

<h2>Orders</h2>
@if (!Model.Any())
{
    <h3 class="text-center">There are no orders.</h3>
}
else
{
    <table class="table table-responsive table-hover" >
        <tr>
            <th class="align-middle text-center">
                Order Number
            </th>
            <th class="align-middle text-center">
                Username
            </th>
            <th class="align-middle text-center">
                Order Details
            </th>

            <th class="align-middle text-center">
                Created At
            </th>
            <th class="align-middle text-center">
                Total
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle text-center">
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td class="align-middle text-center">
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td class="align-middle text-center">
                    @foreach (var item2 in item.ProductsAndQty)
                    {
                        @item2.Key @:x @item2.Value <br />
                    }
                </td>
                <td class="align-middle text-center">
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td class="align-middle text-center">
                    $@Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }

    </table>
}
