<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
          charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Imagens/logo-gordonstore.png" type="image/x-icon">
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/CRUD.css")" rel="stylesheet" />
    @using GORDON_STORE_BETA.Infraestrutura
    @RenderSection("styles", false)

</head>
<body>

    <header>
        <a href="#"><img src="~/Imagens\logo-gordonstore.png" alt="LOGO GORDON STORE"></a>
        <nav>
            <ul>
                <li role="presentation">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li role="presentation" id="liCategorias">
                    <a href="~/Tabelas/Categoria/Index">Categorias</a>
                </li>
                <li id="liEstudios" role="presentation">
                    <a href="~/Cadastro/Estudio/Index">Estúdios</a>
                </li>
                <li id="liProdutos" role="presentation">
                    <a href="~/Cadastro/Produto/Index">Produtos</a>
                </li>
                <li id="liUsuarios" role="presentation">
                    <a href="~/Seguranca/Admin/Index">Usuários</a>
                </li>
                <li id="liPapeis" role="presentation">
                    <a href="~/Seguranca/PapelAdmin/Index">Papéis</a>
                </li>

                <li role="presentation" class="perfil-adm">
                    @{
                        if (Html.GetAuthenticatedUser().ToString() != "")
                        {
                            <img></img>
                            @Html.GetAuthenticatedUser();
                            @Html.ActionLink("Sair", "Logout", "Account")
                        }
                        else
                        {
                            @Html.ActionLink("Acessar", "Login", "Account",
                               new { area = "Seguranca" }, null);

                        }
                    }
                </li>
            </ul>
        </nav>
    </header>
    @RenderBody()

    <footer>
    </footer>
    <script src="@Url.Content("~/scripts/jquery-1.10.1.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.js")"></script>
    @RenderSection("ScriptPage", false)
    @*@Scripts.Render("~/bundles/validation")*@
    @RenderSection("scripts", required: false)
</body>
</html>