@model MVC.Project.OnlineFurnitureSystem.Models.ViewModels.Account.LoginUserVM

@*@

    @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.RememberMe)
                            @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                        @Html.ActionLink("Create an account", "Create-Account", "Account")
                    </div>
                </div>
            </div>

        }*@
@{
    ViewBag.Title = "Login";
}
<br />
@if (TempData["Success Message"] != null)
{
    <br />
    <div class="alert alert-success">
        @TempData["Success Message"]
    </div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Login</h4>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="well">
                            <div class="form-group">
                                <label for="username" class="control-label">Username</label>
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Password</label>
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </span>
                            </div>
                          
                            <div class="checkbox">
                                <label>
                                    @Html.EditorFor(model => model.RememberMe)Remember login
                                </label>
                                <p class="help-block">@Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })</p>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Login</button>



                        </div>
                    </div>
                    <div class="col-xs-6">
                        <p class="lead">Register now for <span class="text-success">FREE</span></p>
                        <ul class="list-unstyled" style="line-height: 2">
                            <li><span class="fa fa-check text-success"></span> See all your orders</li>
                            <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                            <li><span class="fa fa-check text-success"></span> Pay by Paybal</li>
                            <li><span class="fa fa-check text-success"></span> Order many products</li>
                        </ul>
                        <p>
                            <a href="/Account/Create-account" class="btn btn-info btn-block">Yes please, register now!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
