@model IEnumerable<OrdersForUserVM>
@using GridMvc.Html

@{
    ViewBag.Title = "Orders";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<style>
    ul.pagination:last-child {
        display: flex;
        justify-content: center;
    }

    .myClass1 {
        text-align: center;
        width: 8.33%;
    }

    .myClass2 {
        text-align: center;
        width: 25%;
    }

    .myClass3 {
        text-align: center;
        width: 16.66%;
    }

    .myClass4 {
        text-align: center;
        width: 40%;
    }

    .myClass5 {
        text-align: center;
        width: 10%
    }
</style>

<br />

<div>

    <h2>Orders<i class="fa fa-truck"></i></h2>
</div>
@if (!Model.Any())
{
    <h2 class="text-center">There are no orders.</h2>
}
else
{

    @Html.Grid(Model).Columns(columns =>
                {
                    columns.Add(foo => foo.OrderNumber).Titled("Order Number").Sortable(true).Filterable(true).Css("myClass1");
                    columns.Add().Encoded(false).Sanitized(false).Titled("Order Details").Sortable(true).Filterable(true)
            .RenderValueAs(c => @<div>
                @foreach (var itemm in Model.Where(x => x.OrderNumber == c.OrderNumber))
                                {
                                    foreach (var item2 in itemm.ProductsAndQty)
                                    {
                        @item2.Key @:x @item2.Value <br />
                                    }
                                }
            </div>).Css("myClass2");
                    columns.Add(foo => foo.CreatedAt).Titled("Created At").Sortable(true).Css("myClass3");
                    columns.Add(foo => foo.Total).Titled(" Total").Css("myClass4").Filterable(true);
                }).WithPaging(7)
}
<br />
<hr />
<br />

