@model Modelo.Cadastro.Produto

@if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Count() > 0))
{
    <div class="alert alert-dismissable">
        @Html.ValidationSummary(true, "Verifique os seguintes erros",
        new { @class = "text-erro" })
    </div>
}
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes:
        new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Nome,
            new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "",
            new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DataCadastro, htmlAttributes:
        new { @class = "control-label col-md-3" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.DataCadastro, new
            {
                htmlAttributes =
            new { @class = "form-control" }
            })
            @Html.ValidationMessageFor(model => model.DataCadastro, "",
            new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoriaId, htmlAttributes:
        new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.DropDownList("CategoriaId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoriaId, "",
            new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EstudioId, htmlAttributes:new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.DropDownList("EstudioId", null, htmlAttributes:
            new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EstudioId, "",
            new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Preco, htmlAttributes:
        new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Preco,
            new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Preco, "",
            new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Qtd, htmlAttributes:
        new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Qtd,
            new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Qtd, "",
            new { @class = "text-danger" })
        </div>
    </div>
</div>




        
    
