@model GORDON_STORE_BETA.Modelo.Cadastro.Produto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registrando um novo Produto";
}
@using (Html.BeginForm("Create", "Produto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <main>
        <div class="tabelainteira">
            <div class="headertabela">
                REGISTRO DE UM NOVO PRODUTO
            </div>
            <div class="panel-body">
                @Html.Partial("~/Areas/Cadastro/Views/Produto/_PartialEditContentPanel.cshtml", Model)
            </div>

            

            <div class="panel-footer">
                <div class="col-md-offset-2">
                    <input type="submit" value="Adicionar Produto" class="btn" />
                    @Html.ActionLink("Retornar para a listagem de PRODUTOS", "Index", null,
                    new { @class = "btn btn-retornar" })
                </div>
                <br />
                <br />
            </div>
        </div>
    </main>

}
@section ScriptPage {
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
}
