@model IEnumerable<GORDON_STORE_BETA.Modelo.Cadastro.Produto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listagem de Produtos";
}

@if (@TempData["Message"] != null)
{
    <div class="alert" role="alert">
        @TempData["Message"]
    </div>
}
<main>
    <div class="panel tabelainteira">
        <div class="headertabela">
            RELAÇÃO DE PRODUTOS REGISTRADOS
        </div>
        <div class="itenstabela margin-bottom">
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProdutoId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Categoria</th>
                        <th>Estúdio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProdutoId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Preco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Qtd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Categoria.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estudio.Nome)
                            </td>
                            <td>
                                @Html.ActionLink("Alterar", "Edit", new { id = item.ProdutoId }) |
                                @Html.ActionLink("Detalhes", "Details", new { id = item.ProdutoId }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.ProdutoId })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.ActionLink("REGISTRAR NOVO PRODUTO", "Create", null, new { @class = "btn btn-adicionar" })
        </div>
    </div>
</main>
@section styles{
    <link href="@Url.Content("~/content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet" />
    
}
@section ScriptPage{
    <script src="@Url.Content("~/scripts/DataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/scripts/DataTables/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').dataTable();
            $("#datepicker").datepicker();
        });
    </script>
}


