<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title- Admin Area</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <br />
    <nav class="navbar navbar-expand-lg text-dark bg-light h5">
        <a class="navbar-brand " href="#">
            Furniture Platform
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/admin/Dashboard" class="nav-link">DashBoard</a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Pages/Index" class="nav-link">Pages</a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Pages/EditSidebar" class="nav-link"> Sidebar</a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Shop/Products" class="nav-link"> Products</a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Shop/Categories" class="nav-link"> Categories</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/shop/Orders"  class="nav-link">Orders</a>
                </li>
            </ul>
            <div class="navbar-right ml-2">
                <a href="/" class="navbar-brand" target="_blank">Home Page</a>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
