@model Modelo.Cadastro.Produto

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = Model.Nome;
}

<link rel="stylesheet" href="~/Content/detalhesproduto.css">

<div id="breadcrumb" style="text-align:left !important">
</div>

<div class="container-detalhe">
    <div class="images">
        @if (Model.UpImg == null)
        {
            <img src="~/Images/Gordon/img-indisponivel.jpg" />
        }
        else
        {
            <img src="@Url.Action("GetUpImg", "Produtos", new { id = Model.ProdutoId })" />
        }
    </div>

    <div class="product">
        <p class="p">@Html.DisplayFor(modelItem => Model.Categoria.Nome)</p>
        <h1 class="h1">@Html.DisplayFor(modelItem => Model.Nome)</h1>
        <h3 class="h3">@Html.DisplayFor(modelItem => Model.Estudio.Nome)</h3>
        <h2 class="h2">@Html.DisplayFor(modelItem => Model.Preco)</h2>

        <div class="buttons">
            @if (Request.IsAuthenticated)
            {
                
                
                <div class="addtocart">
                    <button class="add" class="button"><a class="addtocart"><i class="fa fa-shopping-cart"></i>Carrinho</a></button>
                    <button class="like" class="button"><span>♥</span></button>
                    
                </div>

            }
            else
            {
                <a href="/Seguranca/Account/Login" class="primary-btn">Entre com uma conta para adicionar o produto ao carrinho</a>

            }

        </div>
    </div>
</div>



<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />

@section Scripts {

    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script>
$(function () {

    $(".fancybox").fancybox();

    $("a.addtocart").click(function (e) {
        e.preventDefault();

        $("span.loader").addClass("ib");

        var url = "/cart/AddToCartPartial";

        $.get(url, { id: @Model.ProdutoId }, function (data) {
            $(".ajaxcart").html(data);
        }).done(function () {
            $("span.loader").removeClass("ib");
            $("span.ajaxmsg").addClass("ib");
            setTimeout(function () {
                $("span.ajaxmsg").fadeOut("fast");
                $("span.ajaxmsg").removeClass("ib");
            }, 1000);
        });
    });



});
    </script>

}