@model GORDON_STORE_BETA.Models.ViewModels.Shop
@using GORDON_STORE_BETA.Models.ViewModels;
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Listagem de PRODUTOS";
}

<section id="banner">
    <div class="conteudobanner">
        <div id="container1">
            <h2 id="gordon">Gordon<br>Store</h2>
            <a href="#" class="btn-3d yellow">
                Compre<br />Agora
                <img class="setacompre" src="~/Images/Gordon/Arrow right.png" alt="seta">
            </a>
        </div>
        <div id="divimagemcapa">
            <img id="imagemcapa" src="~/Images/Gordon/capa11_dc 1.png" alt="imagemcapa">
        </div>
    </div>
</section>
<div class="containercarrosel">
    <div class="carrousel">
        <svg aria-hidden="true" style="display:none" xmlns="http://www.w3.org/2000/svg">

            <symbol id="icon-left-arrow" viewBox="0 0 29 46" version="1.1">
                <g transform="translate(-42 -1615)" stroke="#FFFFFF" stroke-width="4" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                    <polyline transform="translate(56.5 1638) rotate(-90) translate(-56.5 -1638)" points="36 1650 56.5 1626 67.581 1639 77 1650" />
                </g>
            </symbol>

            <symbol id="icon-right-arrow" viewBox="0 0 29 46" version="1.1">
                <g transform="translate(-1349.000000, -1615.000000)" stroke="#FFFFFF" stroke-width="4" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                    <polyline id="Path-Copy" transform="translate(1363.500000, 1638.000000) scale(-1, 1) rotate(-90.000000) translate(-1363.500000, -1638.000000) " points="1343 1650 1363.5 1626 1384 1650"></polyline>
                </g>
            </symbol>
        </svg>

        <div class="sliderWrapper leftLocked">
            <div class="slider">
                <div class="listeLien">
                    <a class="lien" href="#">
                        <img src="~/Images/Gordon/personagem (1).png" alt="">
                    </a>
                    <a class="lien" href="#">
                        <img src="~/Images/Gordon/personagem (2).png" alt="">
                    </a>
                    <a class="lien" href="#">
                        <img src="~/Images/Gordon/personagem (3).png" alt="">
                    </a>
                    <a class="lien" href="#">
                        <img src="~/Images/Gordon/personagem (4).png" alt="">
                    </a>
                    <a class="lien" href="#">
                        <img src="~/Images/Gordon/personagem (5).png" alt="">
                    </a>
                    <a class="lien" href="#">
                        <img src="~/Images/Gordon/personagem (6).png" alt="">
                    </a>
                    <a class="lien" href="#">
                        <img src="~/Images/Gordon/personagem (1).png" alt="">
                    </a>
                    <a class="lien" href="#">
                        <img src="~/Images/Gordon/personagem (2).png" alt="">
                    </a>
                    <a class="lien" href="#">
                        <img src="~/Images/Gordon/personagem (3).png" alt="">
                    </a>
                    <a class="lien" href="#">
                        <img src="~/Images/Gordon/personagem (4).png" alt="">
                    </a>

                </div>
            </div>
            <div class="navSlider navSliderLeft disabled">
                <svg aria-hidden="true"><use xlink:href="#icon-left-arrow"></use></svg>
            </div>
            <div class="navSlider navSliderRight">
                <svg aria-hidden="true"><use xlink:href="#icon-right-arrow"></use></svg>
            </div>
        </div>

        <div class="sliderMarks">
        </div>
    </div>
</div>

<section class="lista">
    <h2 class="titulosection">
        EM DESTAQUE
    </h2>
    <div class="listadeprodutos">
        @foreach (var item in Model.listaprodutos)
        {


            <div class="containerproduto">
                <div class="conteudocontainer">

                    <div class="containerexterno">
                        <a href="#"><img src="~/Images/Gordon/Heart.png" alt="coração" class="iconfavorito"></a>
                        @if (item.UpImg == null)
                        {
                            <a href="@Url.Action("Details", new { id = item.ProdutoId })"><img src="~/Images/Gordon/img-indisponivel.jpg" style="display: block; margin-left: auto; margin-right: auto; height: 275px" /></a>
                        }
                        else
                        {
                    <a href="@Url.Action("Details", new { id = item.ProdutoId })">
                        <img class="img-thumbnail" src="@Url.Action("GetUpImg", "Produto", new { id = item.ProdutoId })"
                             style="display: block; margin-left: auto; margin-right: auto; height: 275px; width: 177.52px" />
                    </a>
                        }

                        <p class="precoproduto">R$ @Html.DisplayFor(modelItem => item.Preco)</p>
</div>
                    <h5 class="tipoproduto" style="margin-top: 12px">@Html.DisplayFor(modelItem => item.Categoria.Nome)</h5>
                    <p class="tituloproduto">@Html.DisplayFor(modelItem => item.Nome)</p>
                    <p class="tipoproduto">@Html.DisplayFor(modelItem => item.Estudio.Nome)</p>

                    <div class="productbottom">
                        <a href="#" style="height: 27px"><img src="~/Images/Gordon/cartproduct.svg" alt="cart" style="height: 27px"></a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<section class="lista">
    <h2 class="titulosection">
        RECENTES
    </h2>
    <div class="listadeprodutos">
        @foreach (var item in Model.listaprodutos)
        {


            <div class="containerproduto">
                <div class="conteudocontainer">

                    <div class="containerexterno">
                        <a href="#"><img src="~/Images/Gordon/Heart.png" alt="coração" class="iconfavorito"></a>
                        @if (item.UpImg == null)
                        {
                            <a href="@Url.Action("Details", new { id = item.ProdutoId })"><img src="~/Images/Gordon/img-indisponivel.jpg" style="display: block; margin-left: auto; margin-right: auto; height: 275px" /></a>
                        }
                        else
                        {
                            <a href="@Url.Action("Details", new { id = item.ProdutoId })">
                                <img src="@Url.Action("GetUpImg", "Produtos", new { id = item.ProdutoId })" />
                            </a>
                        }

                        <p class="precoproduto">R$ @Html.DisplayFor(modelItem => item.Preco)</p>
                    </div>
                    <h5 class="tipoproduto" style="margin-top: 12px">@Html.DisplayFor(modelItem => item.Categoria.Nome)</h5>
                    <p class="tituloproduto">@Html.DisplayFor(modelItem => item.Nome)</p>
                    <p class="tituloproduto">@Html.DisplayFor(modelItem => item.Estudio.Nome)</p>
                    <div class="productbottom">
                        <a href="#" style="height: 27px"><img src="~/Images/Gordon/cartproduct.svg" alt="cart" style="height: 27px"></a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>



<section class="lista">
    <h2 class="titulosection">
        O QUE DESEJA COMPRAR?
    </h2>
    <div class="bannercontainer">
        <div class="banner2" style="background-image: url(../../Images/Gordon/hqsbanner.png);">
            <p>HQ's</p>
        </div>
        <div class="banner2" style="background-image: url(../../images/Gordon/jogosbanner.png);">
            <p>Jogos</p>
        </div>
    </div>

</section>


