@model IEnumerable<GORDON_STORE_BETA.Models.Categoria>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listagem de Categorias";
}

<!-- Mensagem de exclusão -->
@if (@TempData["Message"] != null)
{
    <div class="alert" role="alert">
        @TempData["Message"]
    </div>
}

<main>
    <div class="tabelainteira">
        <div class="headertabela">
            RELAÇÃO DE CATEGORIAS REGISTRADAS
        </div>
        <div class="itenstabela">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoriaId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.ActionLink("Alterar", "Edit", new { id = item.CategoriaId }) |
                                @Html.ActionLink("Detalhes", "Details", new { id = item.CategoriaId }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.CategoriaId })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.ActionLink("Registrar uma nova Categoria", "Create", null, new { @class = "btn-adicionar" })
        </div>
    </div>
</main>

@section styles{
    <link href="@Url.Content("~/content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet" />
}
@section ScriptPage{
    <script src="@Url.Content("~/scripts/DataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/scripts/DataTables/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').dataTable();
        });
        $('li').removeClass("active");
        $('#liCategorias').addClass("active");
    </script>
}